@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,400;0,500;0,600;1,400&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    background-color: #060522;
}
*::-webkit-scrollbar{
    display: none;
}
.text-blue-100{
    color: rgb(228, 237, 255);
}
.text-blue-200{
    color: rgba(228, 237, 255, 0.65);
}
.block-main{
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.justify-center{
    margin: auto;
}
.margin-zero{
    margin: 0;
}
.width-60{
    width: 60%;
}
.border-bottom{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.padding-5p{
    padding: 5px;
}
.padding-bottom-5p{
    padding-bottom: 5px;
}
.padding-right-5p{
    padding-right: 5px;
}
.padding-bottom-10p{
    padding-bottom: 10px;
}
.padding-20p{
    padding: 20px;
}
.flex-main{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.padding-bottom-large{
    padding-bottom: 50px;
}
.text-light-100{
    color: rgba(209, 224, 255, 0.728);
}
.text-italics-100{
    font-style: italic;
}
.text-size-smaller{
    font-size: smaller;
}
.link-100{
    color: aqua;
}
.text-align-center{
    text-align: center;
}
.margin-top-20p{
    margin-top: 20px;
}
.link-no-underline{
    text-decoration: none;
}
.background-black-exp{
    background-image: linear-gradient(to bottom, #07143400, #09173c4e);
    color: white;
    border-radius: 10px;


}
.hero-canvas{
    margin: 20px;
    /* position: relative; */
    height: 100%;
    width: 100%;
}
.abs-pos{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.overlay{
    z-index: 9;
    text-align: center;
    bottom: 1rem;
    height: 1000px;
}
.flex-main-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.rem-bg-trans{
    background: none;
}
.margin-top-bottom-20{
    margin: 20px auto 20px auto;
}
.padding-10p{
    padding: 10px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.relative{
    position: relative;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.absolute{
    position: absolute;
}
.static{
    position: static;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bring-center-text{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
}
.super-large-font{
    font-size: 7rem;
    font-family: "Poppins";
}
.medium-font{
    font-size: 4rem;
}
.prevent-selection{
    pointer-events: stroke;
}
.padding-zero{
    padding: 0%;
}
.button-style-1{
    background-color: rgba(255, 255, 255, 0.197);
    padding: 10px;
    border: none;
    border-radius: 9999px;
}
.flex-nav{
    justify-content: flex-end;
}
.button-hover:hover{
    background-color: rgb(123, 130, 250);
}
#canvas1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff00;
    z-index: 9;
  }